:root {
    --dark-purple: #6924c3;
    --light-purple: #aa6bfd;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* navbar */

.navbar {
    background-color: var(--dark-purple);
}

/* directions button */

#directionsBtn {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
}

/* the list style for the directions modal */

.modal-body>ul>li {
    margin-left: -1.4rem;
}

/* close modal buttons */

#closeModalBtn {
    background-color: var(--dark-purple);
    border: 1px solid var(--dark-purple);
    border-radius: 3px;
    padding: .3rem;
    color: white;
}

#closeModalX {
    color: var(--dark-purple);
    cursor: pointer;
}

.modal-title {
    font-weight: 600;
}

/* page title div wrapper */

#titleWrap {
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

/* h1 title element */

#titleWrap>h1 {
    text-align: center;
    font-size: 5rem;
    color: white;
    font-weight: 600;
}

/* the actualy gif image itself */

.gif-img {
    border-radius: 3px;
    height: 150px;
    width: 150px;
    cursor: pointer;
    margin: 2rem;
}

/* rating text for all gifs */

.ratings {
    color: white;
    font-weight: 600;
}

/* animal button style on top of page */

.animal-btn {
    background-color: var(--dark-purple);
    border-radius: 3px;
    padding: .2rem .9rem .2rem .9rem;
    border: 1px solid var(--dark-purple);
    margin: 3px;
    color: white;
    font-size: 1rem;
    -moz-transition: border-color .3s ease-in-out;
    -webkit-transition: border-color .3s ease-in-out;
    -o-transition: border-color .3s ease-in-out;
    transition: border-color .3s ease-in-out;
}

.animal-btn:hover {
    border-color: white;
}

.animal-btn:focus {
    color: white;
    background-color: var(--light-purple);
}

/* input form */

#inputForm {
    display: flex;
}

/* the submit button for the form */

#add-animal {
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* input element */

#animal-input {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid rgb(0, 0, 0);
}

/* #animal-input:focus {
   
} */

/* the footer */

#copy {
    color: white;
}

/* ! MEDIA QUERIES */

@media only screen and (max-width: 1366px) {
    body {
        background-image: url('../images/white.jpg');
    }
    .navbar {
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px#888;
        box-shadow: 0 0 5px #888;
    }
    /* h1 title element */
    #titleWrap>h1 {
        color: black;
    }
    /* the actualy gif image itself */
    .gif-img {
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px#888;
        box-shadow: 0 0 5px #888;
    }
    /* rating text for all gifs */
    .ratings {
        color: black;
    }
    /* the footer */
    #copy {
        color: black;
    }
    /* input form */
    #inputForm {
        justify-content: center;
        align-content: flex-start;
    }
}

@media only screen and (max-width: 991px) {
    #animal-input {
        width: 50%;
    }
    #directionWrap {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 620px) {
    /* h1 title element */
    #titleWrap>h1 {
        font-size: 3.5rem;
        font-weight: 700;
    }
    #animal-input {
        width: 90%;
    }
}
