html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
}
body{
    background-image: url("../images/lighterlakebg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
/* the actualy gif image itself */
.gif-img{
    border-radius: 3px;
    height: 150px;
    width: 150px;
}
/* where all gifs are displayed from */
.animalDiv{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 36px;
}
/* animal gifs caption */
#head{
    font-size: 85px;
    color:white;
    text-shadow: rgb(0, 0, 0) -3px 1px 10px;
}
/* rating text for all gifs */
.ratings{
    color:white;
    text-shadow:rgb(0, 0, 0) -2px 2px 2px;
}
/* animal button style on top of page */
.animal-btn{
    background-color: rgba(17, 97, 202, 0.842);
    border-radius: 5px;
    border-color: rgba(53, 53, 53, 0.527);
    padding: 5px;
    margin: 3px;
    color:white;
    text-shadow:rgb(0, 0, 0) -2px 2px 2px;
}
.animal-btn:hover{
    border-color: white;
}
.animal-btn:focus{
    color:rgb(78, 3, 3, 0.842);
    background-color: white;
    font-weight: bold;
    text-shadow:rgb(0, 0, 0) -1px 1px 1px;
}
/* end of animal button style
-----------------------------
add animal button */
#add-animal{
    font-weight: bold;
    color:white;
    text-shadow:rgb(0, 0, 0) 1px 2px 9px;
    margin: 5px;
    background-color: rgba(17, 97, 202, 0.842);
}
#add-animal:hover{
    background-color: rgb(255, 255, 255, .5);
    color:rgb(255, 255, 255);
}
/* end of add animal button
---------------------------
remove previous animal button */
#remove-animal{
    font-weight: bold;
    color:rgb(255, 255, 255);
    text-shadow:rgb(0, 0, 0) 1px 2px 9px;
    margin: 5px;
    background-color: rgba(145, 5, 5, 0.842);
}
#remove-animal:hover{
    background-color: rgb(255, 255, 255, .5);
    color:rgb(255, 255, 255);
}
/* end of remove animal button
------------------------------
animal input box */
#animal-input{
    border-radius: 5px;
    border-color:rgb(78, 3, 3, 0.842);
    color:rgb(78, 3, 3, 0.842);
}
#animal-input:focus{
    border-color: white;
    background-color: rgba(17, 97, 202, 0.842);
    color:white;
}
/* the footer */
#copy{
    color:white;
}
